<mat-toolbar color="primary">
  <span *ngIf="!isMenuOpen">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span *ngIf="isMenuOpen">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>clear</mat-icon>
    </button>
  </span>
  <span class="app-title">Менеджер Доставки</span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">Разделы</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sidenav.close()">
        <a class="menu-link" routerLink="/routes">Маршруты</a>
      </button>
      <button mat-menu-item (click)="sidenav.close()">
        <a class="menu-link" routerLink="/autos">Авто</a>
      </button>
      <button mat-menu-item (click)="sidenav.close()">
        <a class="menu-link" routerLink="/report">Отчет</a>
      </button>
      <button mat-menu-item (click)="sidenav.close()">
        <a class="menu-link" routerLink="/delivery">Анализ</a>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="isMenuOpen">
    <mat-list>
      <mat-list-item>
        <a routerLink="/" class="nav-link" (click)="sidenav.close()">
          <span>
            <mat-icon class="menu-icon" color="primary">home</mat-icon>
            Главная
          </span>
        </a>
      </mat-list-item>
      <mat-list-item>
          <a routerLink="/routes" class="nav-link" (click)="sidenav.close()">
            <span>
              <mat-icon class="menu-icon" color="primary">pin_drop</mat-icon>
              Маршруты
            </span>
          </a>
      </mat-list-item>
      <mat-list-item>
          <a routerLink="/autos" class="nav-link" (click)="sidenav.close()">
            <span>
              <mat-icon class="menu-icon" color="primary">directions_car</mat-icon>
              Транспорт
            </span>
          </a>
      </mat-list-item>
      <mat-list-item>
          <a routerLink="/report" class="nav-link" (click)="sidenav.close()">
            <span>
              <mat-icon class="menu-icon" color="primary">ballot</mat-icon>
              Отчет
            </span>
          </a>
      </mat-list-item>
      <mat-list-item>
          <a routerLink="/delivery" class="nav-link" (click)="sidenav.close()">
            <span>
              <mat-icon class="menu-icon" color="primary">device_hub</mat-icon>
              Доставки
            </span>
          </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar color="primary" class="footer">
  <span class="footer-text">Менеджер доставки&copy;2019 <span class="light-text">Все права защищены</span></span>
</mat-toolbar>