mat-form-field {
    margin-left: 30px;
}

.inline-form {
    position: absolute;
    top: -5px;
    left: -14px;
}

mat-list-item {
    position: relative;
}

.action-buttons {
    position: absolute;
    bottom: 5px;
    left: 300px;
}

.edit-button {
    color: green;
}

.delete-button {
    color: red;
}