mat-list-item {
    position: relative;
}

.list-item-actions {
    position: absolute;
    left: 350px;
}

.block-card {
    padding-top: 20px;
}

table {
    width: 100%;
    margin-top: 40px;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-cell {
    position: relative;
    max-width: 200px;
}

.form-button {
    position: relative;
}

.inline-form {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -23px;
    left: 140px;
    transition: all 0.3s ease-in-out;
}

.inline-form mat-form-field {
    margin-right: 10px;
    margin-top: 10px;
}

.visible-form {
    visibility: visible;
    opacity: 1;
    left: 180px;
    transition: all 0.3s ease-in-out;
}

.action-buttons {
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.edit-button {
    color: green;
    transition: all 0.1s ease-in-out;
}

.edit-button:hover, .delete-button:hover, .save-button:hover {
    transform: scale(1.4);
    transition: all 0.1s ease-in-out;
}

.delete-button {
    color: red;
    transition: all 0.1s ease-in-out;
}

.save-button {
    color: #673ab7;
    transition: all 0.1s ease-in-out;
}