/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body, app-root { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.center-block {
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.block-card {
    display: block;
    overflow: hidden;
}

.action-buttons {
    position: absolute;
    bottom: 5px;
    left: 300px;
}

.edit-button {
    color: green;
}

.delete-button {
    color: red;
}