<div class="wrapper">
  <div class="center-block">
    <h1 class="text-center">Добро пожаловать в Менеджер Доставок</h1>
    <p class="text-center">Выберите пункт из меню:</p>
  </div>
  <mat-card class="block-card">
    <div class="home-item-block">
      <a href="/routes" class="home-item">
        <mat-card class="text-center">
          <mat-icon class="huge-icon">pin_drop</mat-icon>
          <mat-divider [vertical]="true"></mat-divider>
          <h3>Маршруты</h3>
          <p>Созданные маршруты доставки</p>
        </mat-card>
      </a>
    </div>
    <div class="home-item-block">
      <a href="/autos" class="home-item">
        <mat-card class="text-center">
          <mat-icon class="huge-icon">directions_car</mat-icon>
          <mat-divider [vertical]="true"></mat-divider>
          <h3>Транспорт</h3>
          <p>База наемного транспорта</p>
        </mat-card>
      </a>
    </div>
    <div class="home-item-block">
      <a href="/report" class="home-item">
        <mat-card class="text-center">
          <mat-icon class="huge-icon">ballot</mat-icon>
          <mat-divider [vertical]="true"></mat-divider>
          <h3>Отчет</h3>
          <p>Создание отчета по заказам</p>
        </mat-card>
      </a>
    </div>
    <div class="home-item-block">
      <a href="/delivery" class="home-item">
        <mat-card class="text-center">
          <mat-icon class="huge-icon">device_hub</mat-icon>
          <mat-divider [vertical]="true"></mat-divider>
          <h3>Доставки</h3>
          <p>Анализ и разбивка заказов по машинам и направлениям</p>
        </mat-card>
      </a>
    </div>
  </mat-card>
</div>