.home-item-block {
    width: 50%;
    float: left;
}

.home-item {
    display: block;
    width: 95%;
    margin: 20px auto;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease-in-out;
}

.home-item:focus, .home-item:hover {
    box-shadow: 5px 5px 5px #ccc;
    transition: box-shadow 0.2s ease-in-out;
}

.home-item mat-card {
    min-height: 205px;
}

.huge-icon {
    width: 70px;
    height: 70px;
    font-size: 70px;
}